h1, h2 {
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.errors {
  margin-top: 0.8em;
  margin-bottom: 0;
}
.errors li {
  list-style-type: none;
}
.errors li:before {
  content: '\26A0';
  margin-left: -2.2em;
  margin-right: 0.5em;
}

.row.flashes {
  margin-top: 2em;
}
.row.flashes .alert {
  margin-bottom: 0;
}
